<div id="footer">
    <div class="container">
      <div class="column">
        <h4>my links</h4>
        <p><a  class=" teal-text accent-4" href="https://instagram.com/_starprince?igshid=10eo3vu0v3sri">instagram</a>
          <br>
          <a  class="teal-text accent-4"  href="Check out Starprince! (@_starprinz): https://twitter.com/_starprinz?s=09">twitter</a>
        </p>
      </div>
      <div class="column ">
        <h4>my story!</h4>
        <p>stories of life.</p>
      </div>
    </div>
    <br>
    <div class="wrapper">
      <div class="center-align">&copy;2020 prince agezi .n.</div>
    </div>
  </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
              <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/blog.js"></script>
    <script src="/signup.js"></script>
    <script src="/login.js"></script>
    <script src="/materilize.js"></script>
</body>
