<div id="footer">
    <div class="container">
      <div class="column">
        <h4>my links</h4>
        <p><a href="https://instagram.com/_starprince?igshid=10eo3vu0v3sri">instagram</a>
          <br>
          <a href="Check out Starprince! (@_starprinz): https://twitter.com/_starprinz?s=09">twitter</a>
        </p>
      </div>
      <div class="column ">
        <h4>my story!</h4>
        <p>story of my life...</p>
      </div>
    </div>
  </div>
    <script src="/blog.js"></script>
</body>
