<!doctype html>
<html>

<head>
  <title>My Blog</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale= 0.96">
</head>

<body>
  <button id="navbar-btn" onclick="toggle()">menu</button>
  <div class="mobile-nav">
    <ul id="side-header-nav">
      <li><a href="/">Home / Blogs</a></li>
      <li><a href="/create">create</a></li>
      <li><a href="/about">about</a></li>
      <li><a href="malito:princeagezinweke@gmail.com">contact</a></li>
    </ul>
  </div>
  <div id="header">
    <div class="container"><a id="header-title" href="/">MY BLOG</a>
      <ul id="header-nav">
        <li><a href="/create">create</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="malito:princeagezinweke@gmail.com">contact</a></li>
      </ul>
    </div>
  </div>