<!DOCTYPE html>
<html>
  <head>
    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale= 1" />
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper white">
          <div class="container">
            <a href="#" data-target="slide-out" class="sidenav-trigger black-text hide-on-large-only"><i class="material-icons">menu</i></a>
            <a class="brand-logo teal-text accent-3" href="/">MY BLOG</a>
            <ul class="header-nav right hide-on-med-and-down">
              <li><a href="/about">about</a></li>
              <li><a href="malito:princeagezinweke@gmail.com">contact</a></li>
              <% if(user) { %>
              <li><a href="/create">create</a></li>
              <li><a href="/logout">logout</a></li>
              <% } else { %>
              <li><a href="/login">login</a></li>
              <li><a class="btn-small red darken-4 white-text" href="/signup">sign up</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <!--<button id="navbar-btn" onclick="toggle()">menu</button>-->
    <ul id="slide-out" class="sidenav">
      <li><a href="/"><i class="material-icons">home</i>Home / Blogs</a></li>
      <li><a href="/about"><i class="material-icons">info</i>about</a></li>
      <li><a href="malito:princeagezinweke@gmail.com"><i class="material-icons">email</i>contact</a></li>
      <% if(user) { %>
      <li><a href="/create"><i class="material-icons">create</i>create</a></li>
      <li><a href="/logout"><i class="material-icons">logout</i>logout</a></li>
      <% } else { %>
      <li><a href="/login"><i class="material-icons">login</i>login</a></li>
      <li><a class="btn-small red darken-4 white-text" href="/signup"><i class="material-icons">person_add</i>sign up</a></li>
      <% } %>
    </ul>
