<%-include('./partials/head.ejs')-%>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="img/aboutme.png" width="600" class="center-align responsive-img">
    </div>
  </div>
</div>
<div id="content">
    <div class="container">
      <div class="about">
        <div class="about-author">
          <h3>About me</h3>
          <div class="about-content">
            <p>This blog isn't just all about me, I've spent alot of time in the past week writing codes which led to the
              creation of this site. This project has helped to improve my knowledge on the fundamentals of web dev to a full stack development with node js.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">

      
    </div>

    <%-include('./partials/footer.ejs')-%>