<%-include('./partials/head.ejs')-%>

<div id="content">
    <div class="container">
      <div class="about">
        <div class="about-author"><img class="about-circle"
            src="https://pbs.twimg.com/media/EaFg17BWAAAWlMQ?format=jpg&name=small">
          <h1>About me</h1>
          <div class="about-content">
            <p>This blog is all about me, I've spent alot of time in the past week writing codes which led to the
              creation of this site. This project has helped to improve my knowledge on the fundamentals of web dev.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <h3>my favorite webpage!</h3>
      <iframe src="https://www.youtube.com/watch?v=ou9CjRWq1tM"></iframe>
    </div>

    <%-include('./partials/footer.ejs')-%>