<%-include('./partials/head.ejs')-%>
<div class="container">
  <h6 class="right-align">Welcome, <%= user.username %></h6>
</div>
<div class="container">
  <h3>write a blog post</h3>
  <div class="container">
    <form action="/create" method="POST">
      <div class="row">
        <div class="input-field">
          <input type="text" id="title" name="title" />
          <label for="title">Blog title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <input type="text" id="author" name="author" />
          <label for="author">Author</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field">
          <label for="body">Body</label>
          <textarea type="text" id="body" name="body"></textarea>
        </div>
      </div>
      <button>sumbit</button>
    </form>
  </div>
</div>

<%-include('./partials/footer.ejs')-%>
