<%-include('./partials/head.ejs')-%>

<div class="container form-centered">
  <h2 class="left-align">Login</h2>
  <div class="container">
    <div class="valign-wrapper row">
      <div class="col s12 m6 l6">
        <form id="login-form">
          <div class="row">
            <div class="input-field">
              <input type="text" id="email" name="email" />
              <label for="email">Email</label>
              <div class="email error"></div>
            </div>
          </div>

          <div class="row">
            <div class="input-field">
              <input type="password" id="password" name="password" />
              <label for="password">Password</label>
              <div class="password error"></div>
            </div>
          </div>

          <button>sumbit</button>
        </form>
      </div>
      <div class="col s6 m6 l6">
          <img src="./img/login.png" class="responsive-img" />
        </div>
    </div>
  </div>
</div>
<!-- Ajax Loader -->
<div class="display-loader">
  <div class="background-loader">
    <div id="loader"></div>
    <div id="loader-two"></div>
  </div>
</div>

<%-include('./partials/footer.ejs')-%>
